// Colors
// $c-black: #000;
// $c-white: #fff;
// $c-red: #f00;
// Etc...

// Base Font Size
$base-font-size: 16; //change this to whatever size (in px) most of the body copy in your project is

// Breakpoints
// Make these whatever you want
// $bp-tiny: 480px;
// $bp-small: 768px;
// $bp-med: 1024px;

// The max-width of the stage on full desktop
//$max-stage-width: 1160px; //put this in ems yo

// No-query class for if we need IE8 to play nice with our media queries
$no-query: '.no-mediaqueries'; //don't mess with this; it works with Modernizr

//Icons
$i-facebook: '\e600';
$i-twitter: '\e601';
$i-youtube: '\e602';
$i-linkedin: '\e603';